*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-bar {
    padding-left: 20px;
    background: #1abc9c;
    color: white;
    font-size: 15px;
    width: 100%;
}